@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background: rgb(6, 129, 68);
  background: radial-gradient(circle, rgba(100,0,123,1) 0%, rgb(20, 86, 47) 100%);
  overflow-x: hidden;
}
